@{
    Layout = "_Layout";
}
@using KANO.Core.Model
@using Newtonsoft.Json
<head>
    <link href="@Url.Content("~/assets/css/areas/api/css/bootstrap.min.css")" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="@Url.Content("~/assets/css/areas/api/css/bootstrap-theme.css")" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="@Url.Content("~/assets/css/areas/api/css/elegant-icons-style.css")" rel="stylesheet" />
    @*<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />*@
    <!-- Custom styles -->
    <link href="@Url.Content("~/assets/css/areas/api/css/style.css")" rel="stylesheet">
    <link href='@Url.Content("~/assets/css/areas/api/css/style-responsive.css")' rel="stylesheet" />
    <link href='@Url.Content("~/assets/css/areas/api/font-awesome-4.4.0/css/font-awesome.min.css")' rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoCondensed:300,400,400italic,500,700">
    <!-- <link rel="stylesheet" href="~/assets/elephant/css/vendor.min.css"> -->
    <link rel="stylesheet" href="~/assets/elephant/css/elephant.min.css">
    <link rel="stylesheet" href="~/assets/elephant/css/application.min.css">
    <link rel="stylesheet" href="~/assets/elephant/css/demo.min.css">
    <link rel="stylesheet" href="~/assets/elephant/css/import.css">
    <link rel="stylesheet" href="~/assets/js/vendor/kendoui/styles/kendo.common-bootstrap.core.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/kendoui/styles/kendo.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/kendoui/styles/kendo.bootstrap.mobile.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/kendoui/styles/kendo.common.min.css">
    <link rel="stylesheet" href="~/assets/js/vendor/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="~/assets/elephant/css/toastr.min.css">
</head>

<style>
    .login-img1-body {
        background: url('@Url.Content("~/assets/css/areas/api/css/bg-11.jpg")') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

    .login-img2-body {
        background: url('@Url.Content("~/assets/css/areas/api/css/bg-11.jpg")') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

    .login-img3-body {
        background: url('@Url.Content("~/assets/css/areas/api/css/bg-11.jpg")') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

    .login-label {
        font-size: 23px;
        font-weight: bold;
        color: red;
    }

    .modal-dialog.btn {
        border-radius: 0;
    }

    .modal-title {
        color: black;
    }

    .btn-shell {
        background-color: #f4b350;
        border: 1px solid #E2A952;
        color: white;
    }
</style>
<div class="container">

    <form class="login-form" id="loginForm" action="@Url.Action("ConfirmResetPasword")" method="POST">
        <div class="login-wrap">
            <p class="login-img"><img src="@Url.Content("~/assets/css/areas/api/css/shell_logo.png")" align="middle" height="40" border="0"> <span class="login-label">Reset Password</span></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="new password" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" id="pass2" name="pass2" placeholder="confirm password">
            </div>
           
            <button class="btn btn-warning btn-shell btn-lg btn-block" id="btnLogin" type="button" onclick="ConfirmResetPasword()">Save</button>
        </div>
    </form>

</div>

<!-- Modal Forget Password -->


@section Scripts {
    <script src="~/assets/elephant/js/vendor.min.js"></script>
    <script src="~/assets/js/vendor/kendoui/js/kendo.all.min.js"></script>
    <script src="~/assets/js/vendor/knockoutjs/knockout-3.4.2.js"></script>
    <script src="~/assets/js/vendor/knockoutjs/knockout.mapping-2.4.1.js"></script>
    <script src="~/assets/js/vendor/knockout-kendo/knockout-kendo.min.js"></script>
    <script src="~/assets/js/vendor/lodash.min.js"></script>
    <script src="~/assets/js/vendor/knockstrap.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="~/assets/js/vendor/moment/moment.js"></script>
    <script src="~/assets/js/vendor/bootbox.min.js"></script>
    <script src="~/assets/css/areas/api/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/css/areas/api/Scripts/underscore.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#forgetPassword').click(function () {
                $("#email").val("");
                $('#modalForgetPassword').modal("show");
            });

            $("body").addClass("login-img3-body");
        });


        function ConfirmResetPasword() {
            if ($("#pass1").val() !== $("#pass2").val()) {
                alert("Password not match!")
                return;
            }

            var myParam = location.search.split('SecretToken=')[1];
            ajaxPost("@Url.Action("ConfirmResetPasword")", {
                pass: $("#pass1").val(),
                token: myParam
            },  function (data) {
                    alert(data.Message);
                    location.href = "@Url.Action("../Auth", "Login")";
            }, function () {
                alert("Error occured while changing password");
            });
        }

        
        function resetPassword() {

            ajaxPost("@Url.Action("ForgetPassword")", {
                email: $("#email").val()
            },
            function (data) {
                switch (data.Result) {
                    case "OK":
                        alert("Please kindly check your email!");
                        $('#modalForgetPassword').modal("hide");
                        break;
                    case "NOK":
                        alert(data.Message);
                        break;
                }
                });
            $('#modalForgetPassword').modal("hide");

        }

        function isLoading (show) {
        if (show) {
            $('#loader').css('opacity', 0).show().animate({
                opacity: 1
            }, 'fast')
        } else {
            $('#loader').animate({
                opacity: 0
            }, 'fast', function () {
                $('#loader').hide().css('opacity', 1)
            })
        }
    }

        function ajaxPost(url, data, fnOk, fnNok) {
            $.ajax({
                url: url,
                type: 'POST',
                data: ko.mapping.toJSON(data),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (typeof fnOk == "function") fnOk(data);
                    koResult = "OK";
                },
                error: function (error) {
                    if (typeof fnNok == "function") {
                        fnNok(error);
                    }
                    else {
                        alert("There was an error posting the data to the server: " + error.responseText);
                    }
                }
            });
        }

    </script>
}