
@{
    Layout = "_Layout";
}
@using KANO.Core.Service
@using KANO.ESS
@using KANO.Core.Model
@using Newtonsoft.Json

@inject KANO.Core.Service.IUserSession UserSession

<script async>
    var viewBag = @Json.Serialize(ViewBag);
    @*Defining Model Prototype*@
    model.proto = {
        Survey: @Html.Raw(Json.Serialize(new Survey())),
        DateRange: @Html.Raw(Json.Serialize(new DateRange())),
        SurveyRecurrent: @Html.Raw(Tools.EnumToJson2(typeof(SurveyRecurrent))),
        ParticipantType: @Html.Raw(Tools.EnumToJson2(typeof(ParticipantType))),
    };

    model.showForm = ko.observable(false);

    var f = async function(){
        if(viewBag.Action == "update"){
            if(viewBag.StatusCode != 200){
                swalAlert("Survey", `Error occured while fetching survey : ${viewBag.Message}`);
                history.go(-1)
            }else if(!viewBag.Data){
                swalAlert("Survey", `Unable to find survey ${viewBag.ID} on ESS server`);
                history.go(-1)
            }else{
                model.showForm(true);
            }
        }else{
            model.showForm(true);
        }
    };
    f();
</script>
<script src="~/assets/vendors/iframe-resizer/iframeResizer.min.js"></script>
<script src="~/assets/areas/ess/js/survey.js?@(Startup.Tick??DateTime.Now.Ticks)"></script>
<link rel="stylesheet" href="~/assets/areas/ess/css/survey.css?@(Startup.Tick??DateTime.Now.Ticks)">
<div class="row" data-bind="with:model, visible:model.showForm()">
    <main class="col-lg-12" role="main">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card box">
                    <div class="card-header clearfix pb-xs-0">
                        <div class="float-left mb-md-xs-2 no-display">
                            <strong class="float-left p-2 text-capitalize mt-1">@ViewBag.Action Survey</strong>
                            @* <a href="/ESS/Survey" class="btn btn-md btn-default float-left w-md-xs-50 px-2" >
                                    <i class="mdi mdi-arrow-left"></i>
                                </a> *@
                        </div>
                        <div class="float-right">
                            <button type="button" class="btn btn-md btn-info float-right w-md-xs-50" data-bind="click:model.action.saveSurvey">
                                <!-- ko if :model.is.buttonLoading() -->
                                <div class="spinner-border spinner-border-sm text-light" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <!-- /ko -->
                                <!-- ko ifnot:model.is.buttonLoading() -->
                                Save
                                <!-- /ko -->
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form data-bind="with:data.survey, afterRender:model.on.renderForm">
                            <div class="form-group">
                                <label for="survey-title" class="required">Title</label>
                                <input type="text" class="form-control" id="survey-title" placeholder="e.g. : Survey kepuasan pegawai" data-bind="value:Title">
                            </div>
                            <div class="form-group">
                                <label for="survey-description" class="required">Description</label>
                                <textarea type="text" class="form-control" id="survey-description" placeholder="e.g. : Survey kepuasan pegawai" data-bind="value:Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="survey-url" class="required">Url</label>
                                <input type="text" class="form-control" id="survey-url" placeholder="e.g. : Survey kepuasan pegawai" data-bind="value:SurveyUrl">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @* <label for="survey-schedule">Schedule</label> *@
                                    <div class="form-control" id="survey-schedule"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="survey-recurrent" class="required">Recurrent</label>
                                    <select class="form-control w-md-xs-100 mb-md-xs-2 w-100" id="survey-recurrent" data-bind="kendoDropDownList: {
                                                    dataTextField: 'text',
                                                    dataValueField: 'value',
                                                    data: model.list.surveyRecurrences,
                                                    value: Recurrent,
                                                    optionLabel: 'Select Survey Recurrence',
                                                    enabled: true
                                                    }"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="survey-participant" class="required">Participant</label>
                                <select class="form-control w-md-xs-100 mb-md-xs-2 w-100" id="survey-participant" data-bind="kendoDropDownList: {
                                                    dataTextField: 'text',
                                                    dataValueField: 'value',
                                                    data: model.list.participantTypes,
                                                    value: ParticipantType,
                                                    optionLabel: 'Select Participant Type',
                                                    enabled: true
                                                    }"></select>
                                @* <select class="mb-md-xs-2 w-100" id="productse" data-bind="kendoMultiSelect: {
            dataTextField: '_id',
            dataValueField: 'FullName',
            }"></select> *@
                            </div>
                            <div class="form-group" data-bind="visible : model.data.survey().ParticipantType() == 3">
                                <select class="form-control w-md-xs-100 mb-md-xs-2 w-100" id="participants" data-bind="kendoMultiSelect: {
                                                    data:model.data.employees,
                                                    dataTextField: 'EmployeeName',
                                                    dataValueField: 'EmployeeID',
                                                    }"></select>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="form-group">
                                    @* daripada harus input survey_action_id, mending di odoo bikin satu controller yang ngarah ke survey form *@
                                    @* biar kita ngga usah maintenance survey_action_id *@
                                    @* tapi bisa langsung ke /odoo/web/survey_form?employeeID=732100292 *@
                                    @*<iframe id="survey-form-container" class="w-100" src="/odoo/web?employee_id=@UserSession.Id()#id=&action={{survey_action_id}}&view_type=form" title="Survey Form" style="height:800px"></iframe>*@
                                    @*<iframe id="survey-form-container" class="w-100" src="/odoo/web#action=142&model=survey.survey&view_type=kanban&cids=1&menu_id=99" title="Survey Form" style="height:800px"></iframe>*@
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    iFrameResize({ }, '#survey-form-container')
    $(function () {
        @*Render UI Components*@
        model.init.form();
    })
</script>
